.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.botao1{
    background-color: var(--yellow);
    width: 30%;
    height: 70px;
    min-height: 30px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.botao2{
    background-color: var(--red);
    width: 30%;
    height: 70px;
    min-height: 30px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.botao3{
    background-color: var(--green);
    width: 30%;
    height: 70px;
    min-height: 30px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}