.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

.botao1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--yellow);
    width: 30%;
    min-height: 30px;
    border: 0;
    border-radius: 5px;
}

.botao1 div {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.botao2 {
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    min-height: 30px;
    border: 0;
    border-radius: 5px;
}

.botao2 div {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.botao3 {
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    min-height: 30px;
    border: 0;
    border-radius: 5px;
}

.botao3 div {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}