.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    height: 60px;
    background-color: var(--backgroundMain);
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.5);
}
.icon{
    margin-left: 20px;
}